* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Here I am styling Box1*/

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("/Pictures/Amazon-Logo.png");
    background-size: cover;
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* Here I styling Box2 */

.nav-address {
    height: 50px;
    width: 100px;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 20px;
    margin-top: 10px;
}

.add-second {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 0px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Here I styling Box3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #eb911d;
    width: 700px;
    height: 40px;
    border-radius: 5px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color: #0f1111;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* Here I styling Box4 */
.nav-signin{
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
}

span{
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-return {
    height: 40px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
}

/* Here I styling Box5 */

.nav-cart {
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-cart i {
    font-size: 30px;
}

.nav-cart p {
    padding-top: 20px;
    font-weight: 700;
}